*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
    background-color: #00b0ff;
  }

.Add-task{
    position: absolute;
    left: 20%;
    top: 60%;
    transform: translate(-50%,-50%);
    background-color: #fafafa;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    width: 300px;
    height: 480px;
    text-align: center;
    font-family: 'Nunito',sans-serif;
}
h1 {
    text-align:center;
    margin: 12px 0;
    color:white;
    font-family:monospace;
}
h2{
    padding: 6px 4px;
}
label{
    padding: 6px 4px;
    margin: 12px 0;
    color:white;
    font-family:monospace;
}
.add-elements{
    margin: 60px 0;  
}
input{
    padding: 6px 4px;
    width: 70%;
}
button{
    padding: 7px 14px;
    background-color: #00b0ff;
    border: none;
    border-radius: 4px;
    color: #fafafa;
}
.Progress-state{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    background-color: #fafafa;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    width: 300px;
    height: 480px;
    text-align: center;
    font-family: 'Nunito',sans-serif;
}
.p-state{
    position: absolute;
    left: 35%;
    top: 20%;
}
.completed-container{
    position: absolute;
    left: 80%;
    top: 60%;
    transform: translate(-50%,-50%);
    background-color: #fafafa;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    width: 300px;
    height: 480px;
    text-align: center;
    font-family: 'Nunito',sans-serif;
}
ul{
    padding: 15px; 
}
.list{
    list-style: none;
    padding: 10px 5px;
    background-color: #fff;
    margin: 12px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    border-radius: 3px;
    transition: .4s;
    
}

#create{
        padding: 15px 18px;
        margin: 30px 30px;
        background-color: #fafafa;
        border: none;
        border-radius: 4px;
        color:  black;
  }
 
    #atag{
    padding: 7px 14px;
    background-color: #00b0ff;
    border: none;
    border-radius: 4px;
    color: #fafafa;
    }
    li{
         display: flex; 
    justify-content: space-around;
    align-items: right;
        }

 